/* * * * * * * 
    Global
* * * * * * * */

:root{
  --white: #FBF7F5;
  --primary-black: #1b1b1b;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Roboto:wght@300&display=swap');

@font-face {
  font-family: 'chalkboy';
  src: url('../fonts/chalkboy-font/misc/Chalkboy\ Free\ Trial-854d.woff2') format('woff2'),
  url('../fonts/chalkboy-font/misc/Chalkboy\ Free\ Trial-c74c.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chalk';
  src: url('../fonts/CfBlackboardPersonalRegular-AKPg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  display:flex;
  justify-content: space-evenly;
  background-color: var(--primary-black);
  color: var(--white);
}

body >*{
  padding-top: 10px;
}

nav a,
aside a{
  text-decoration: inherit;
  color: inherit;
  font-size: 1.5rem;
}

nav h3{
  font-family: chalkboy;
  font-size: 3rem;
}

ol{
  list-style: decimal;
}

.sticky{
  position: sticky;
  align-self: flex-start;
  top: 0;
}

/* * * * * * * 
    Nav
* * * * * * * */

nav{
  order: 1;
  font-family: chalk;
}

nav li{
  padding-top: 20px;
}

/* * * * * * * 
    Main
* * * * * * * */

main{
  width: 70ch;
  order: 2;
  background-color: green;
}

/* * * * * * * 
    Aside
* * * * * * * */

aside{
  order: 3;
  background-color: blue;
}

/* * * * * * * * * 
    Transforms
* * * * * * * * * */

nav li{
  transition: transform 200ms ease-out;
  width: fit-content;
}

nav li:hover{
  transform: scale(1.15);
}

nav a::after{
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  background-color: var(--white);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease-out;
}

nav a:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}