/* * * * * * * 
    Global
* * * * * * * */

:root{
  --grid-size: 1;
  --white: #FBF7F5;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Roboto:wght@300&display=swap');

@font-face {
  font-family: 'chalkboy';
  src: url('../fonts/chalkboy-font/misc/Chalkboy\ Free\ Trial-854d.woff2') format('woff2'),
  url('../fonts/chalkboy-font/misc/Chalkboy\ Free\ Trial-c74c.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chalk';
  src: url('../fonts/CfBlackboardPersonalRegular-AKPg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas: 
    "header"
    "play"
    "controls";
  overflow: hidden;
}


a{
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

button{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* * * * * * * 
    Header
* * * * * * * */

header{
  grid-area: header;
  background: url("https://res.cloudinary.com/danielmeilleurimg/tictactoe/chalkboard-250");
  background-size: cover;
  color: var(--white);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
}

header h1{
  font-family: chalkboy;
  font-size: 5rem;
  padding-left: 30px;
}

header ul{
  justify-self: center;
  display: flex;
  gap: 35px;
}

header li{
  font-family: chalk;
  font-size: 2rem;
  transition: transform 200ms ease-out;
}

header li:hover{
  transform: scale(1.15);
}

header a{
  cursor: pointer;
}

/* * * * * * * 
    Controls
* * * * * * * */

.controls{
  background-color: var(--white);
  grid-area: controls;
  height: 10vh;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
}

.controls button,
#stats{
  font-size: 1.5rem;
  font-weight: bold;
  border: 3px double black;
  padding: 0.5rem 1rem;
  border-radius: 40px;
}

.controls button{
  transition: all 250ms ease-in;
}

.controls button:hover,
.controls button:focus{
  border: 3px double white;
  background-color: black;
  color: var(--white);
}

.grid-controls,
.game-controls{
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: 
    "num num"
    "b1 b2";
  gap: 10px;
}

.grid-controls div,
.game-controls div{
  grid-area: num;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.grid-controls input{
  flex: 1;
}

select{
  width: 30ch;
}

#stats{
  border-radius: 5px;
  width: 20ch
}

.predefined{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#predefined-starts{
  font-size: 1.1rem;
}

/* * * * * * * 
    Grid
* * * * * * * */

.game-area{
  width: 100vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  grid-template-rows: repeat(var(--grid-size),1fr);
  background-color: white;
  grid-area: play;
  overflow: scroll;
}

.cell{
  border: 1px solid black;
  aspect-ratio: 1;
}